:root {
	--prim: #8800ff;
	--primtext: #8800ff;
	--primacc: #7a00e6;
	--primacctext: #7a00e6;
	--primaaa: #b866ff;
	--sec: #6d00cc;
	--secacc: #5f00b3;
	--primary-color: #edf2fc;
	--secondary-color: #212121;

	--navbar: #ffffff;
	--herobg: #f6f8f9;
	--border: #F8F9FB;
	--divider: #3c3f45;
	--dividerlight: #edf1f2;
	--footer: #292c31;
	--h2: #ffffff;
	--text: #3a3f52;
	--text2: #8da2b5;
	--navtext: #53627C;
	--h6: #8800ff;
	--footer2: #62656a;
	--collapseborder: #EEE;
	--collapseborder2: #efefef;
	--hamburger: #000000;
}

.darkmode {
	--prim: #6d00cc;
	--primtext: #941aff;
	--primacc: #6200b8;
	--primacctext: #9b2bff;
	--primaaa: #b661ff;
	--sec: #5700a3;
	--secacc: #4c008f;
	--primary-color: #edf2fc;
	--secondary-color: #212121;

	--navbar: rgb(24, 26, 27);
	--herobg: rgb(24, 32, 36);
	--border: rgb(38, 48, 67);
	--divider: rgb(119, 110, 98);
	--dividerlight: rgb(52, 57, 59);
	--footer: rgb(34, 37, 38);
	--h2: rgb(232, 230, 227);
	--text: rgb(188, 182, 173);
	--text2: rgb(173, 165, 155);
	--navtext: rgb(167, 159, 147);
	--h6: rgb(148, 26, 255);
	--footer2: rgb(168, 160, 149);
	--collapseborder: rgb(53, 57, 59);
	--collapseborder2: rgb(53, 57, 59);
	--hamburger: #ffffff;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--text);
	background: var(--navbar);
}

h2 {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}

h5 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .05em;
	color: var(--navtext);
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

b {
	font-weight: 700;
}

section {
	padding: 100px 0px;
}

#icon{
	width: 35px;
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999;
}


.title-block {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.title-block p {
	font-size: 20px;
	font-weight: 300;
	color: var(--text2);
	margin-bottom: 0px;
}

.divider {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
    border-top: 1px solid var(--divider);
}

.divider-light {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
	border-top: 1px solid var(--dividerlight);
}

/* ==============================================
   2. Navbar 
===============================================*/

.custom-navbar {
	background-color: var(--navbar) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
	height: 70px;
	max-height: 70px;
}

.navbar-toggler {
	font-size: 38px;
	background-color: transparent;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: none;
}

.navbar-toggler-icon {
	color: #ffffff;
}

.navbar-collapse {
	background-color: var(--navbar);
}

.nav-custom-link {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: .05em;
	margin-top: 5px;
}

.navbar a {
	color: var(--navtext) !important;
}

.nav-right {
	float: right;
}

/* ==============================================
   3. Buttons
===============================================*/

.btn {
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px!important;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.08);
}

.btn:hover {
	text-decoration: none;
}

.btn-regular {
	background-color: var(--prim);
	color: #ffffff;
	padding: 10px 25px;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-regular:hover {
	background-color: var(--primacc);
	color: #ffffff;
}

.btn-demo {
	color: #ffffff;
	background-color: var(--sec);
	letter-spacing: .1em;
	padding: 15px 48px;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.btn-demo:hover {
	color: #ffffff;
	background-color: var(--secacc);
}

.btn-demo-small {
	font-size: 12px;
	background-color: var(--sec);
	padding: 1px 4px;
}

.btn-demo-small:hover {
	background-color: var(--secacc);
}

.btn-demo-small a {
	color: #ffffff!important;
}

.btn-buy {
	color: #ffffff;
	background-color: var(--prim);
	letter-spacing: .1em;
	padding: 15px 48px;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.btn-buy:hover {
	background-color: var(--primacc);
	color: #ffffff;
}

/* ==============================================
   4. Hero
===============================================*/

#hero {
	background-color: var(--herobg);
}

#hero h1 {
	font-size: 50px;
	font-weight: 300;
}

#hero p {
	font-size: 24px;
    font-weight: 300;
    color: #8da2b5;
    margin-bottom: 0px;
    padding: 0px;
}

#hero span {
	font-weight: 400;
    color: var(--primtext);
    text-transform: uppercase;
    letter-spacing: .05em;
}

/* ==============================================
   5. Marketing
===============================================*/

#marketing p {
	font-size: 20px;
    font-weight: 300;
    color: var(--text2);
    margin-bottom: 0px;
    padding: 0px;
}

#marketing span {
	font-weight: 400;
	color: var(--primtext);
	text-transform: uppercase;
	letter-spacing: .05em;
}

.content-box {
	padding: 60px 20px;
}

/* ==============================================
   6. Testimonials
===============================================*/

#testimonials {
	background-color: var(--herobg);
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
}

.testimonial-box {
	background-color: var(--navbar);
	box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
	border-radius: 20px;
	padding: 20px 30px;
	margin-top: 30px;
}

.testimonial-box h6 {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: .05em;
	margin-top: 5px;
	margin-bottom: 0px;
}

.testimonial-box p {
	font-size: 16px;
	font-weight: 300;
	margin-top: 25px;
	line-height: 1.8;
	padding: 0px;
}

.testimonial-box i {
	color: #ffffff;
}

.testimonial-box small {
	color: var(--text2);
	display: inline-block;
}

.testimonial-box span {
	font-size: 14px;
	color: #ffffff;
}

.rating {
	background-color: var(--prim);
	padding: 2px 12px;
	border-radius: 50px;
}

.profile-picture {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.review-one {
  background-image: url('images/profile-picture-one.jpg');
}

.review-two {
  background-image: url('images/profile-picture-two.png');
}

.personal-info {
	padding: 5px 0 20px 0;
	border-bottom: 1px solid var(--dividerlight);
}

/* ==============================================
   7. Pricing
===============================================*/

.pricing-box {
	background-color: var(--navbar);
	padding: 40px 20px;
	border: 1px solid var(--border);
	border-radius: 6px;
	box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
	margin-top: 30px;
}

.pricing-box h3 {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: .1em;
	color: #8800ff;
}

.pricing-box h6 {
	font-size: 60px;
	font-weight: 700;
	color: var(--h6);
	margin-bottom: 0px;
}

.pricing-box p {
	font-size: 17px;
	margin-top: 15px;
	padding: 0px;
}

.pricing-box ul {
	padding-left: 10px;
}

.pricing-box li {
	font-size: 14px;
	font-weight: 300;
	color: var(--text2);
	letter-spacing: .1em;
}

.pricing-box span {
	font-weight: 500;
	color: #0095f7;
}

.pricing-box small {
	color: var(--text2);
	letter-spacing: .2em;
}

.pricing-box i {
	font-size: 20px;
	color: var(--primtext);
	margin-right: 10px;
}

.pricing-box .demo {
	color: var(--primaaa) !important;
}

/* ==============================================
   8. Call to Action
===============================================*/

#call-to-action {
	background-image: url('images/call-to-action.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#call-to-action h2 {
	color: var(--h2);
}

#call-to-action p {
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	opacity: .8;
	margin-bottom: 40px;
}

#call-to-action .title-block {
	margin-bottom: 0px;
}

#call-to-action .btn-regular {
	background-color: var(--navbar) !important;
	color: var(--primtext) !important;
	padding: 15px 45px;
}

#call-to-action .title-block {
	margin-bottom: 0px;
}

/* ==============================================
   9. Footer
===============================================*/

footer {
	background-color: var(--footer);
    padding: 60px 0;
    color: var(--footer2);
}

footer h5 {
	color: #aeb3bd;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 20px;
}

footer p {
	font-size: 12px;
	font-weight: 300;
	color: var(--footer2);
	text-align: justify;
	padding: 0px;
}

footer li {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .05em;
	line-height: 1.5;
	margin-bottom: 10px;
}

footer a {
	color: var(--footer2);
}

footer a:hover {
	color: var(--primacctext);
	text-decoration: none;
}

footer i {
	font-size: 25px;
	color: var(--footer2);
	margin-right: 10px;
}

footer i:hover {
	color: var(--primacc);
}

footer small {
	color: var(--footer2);
	float: right;
}

.external-links {
	color: var(--primtext);
}

/* ==============================================
   9. Media Queries
===============================================*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	h2 {
		font-size: 34px!important;
		margin-bottom: 20px;
		line-height: 1.6;
	}
	.title-block h2, p {
		text-align: left;
		padding: 0px 20px;
	}

	#call-to-action h2, p {
		text-align: left!important;
		padding: 0 20px;
	}

	#call-to-action {
		background-image: none;
		background-color: #0095f7;
	}

	footer {
		padding: 60px 25px;
	}
	footer h5 {
		font-size: 18px;
		margin-top: 30px;
	}
	footer li {
		font-size: 16px;
		margin-bottom: 15px;
	}
	footer p {
		font-size: 16px;
	}
	footer i {
		font-size: 30px;
		margin-right: 20px;
	}
	footer small {
		float: left;
		margin-top: 20px;
	}
	#marketing > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 768px) { 
	#hero h1 {
		font-size: 34px!important;
		margin-bottom: 20px;
	}
	#hero p {
		font-size: 20px!important;
	}
	#marketing > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
		width: 100%;
		height: auto;
	}
	.col-lg-5 > img:nth-child(1) {
		padding-top: 15%;
	}
}

@media (max-width: 991px) { 
	.nav-right {
		float: left;
	}
	.nav-custom-link {
		border-bottom: 1px solid var(--collapseborder);
	}
	.navbar-nav{
		width: 100%;
	}
	.navbar-nav .nav-link {
		padding: 20px 0;
		text-align: left;
	}

	.btn-demo-small {
		background-color: var(--navbar);
		border: 0px;
		padding: 0px;
		box-shadow: none;

	}
	.btn-demo-small:hover {
		background-color: var(--navbar);
		border: 0px;
		padding: 0px;
		box-shadow: none;

	}
	.btn-demo-small a {
		color: var(--navtext) !important;
	}
	.nav-custom-link {
		font-size: 13px;
	}

	.icon-mobile {
		font-size: 18px;
		float: right;
	}

	.navbar-collapse {
		border-bottom: 1px solid var(--collapseborder2);
	}

	.nav-logo-mobile {
		margin: auto;
		padding-right: 50px;
		max-width: 50px;
 		max-height: 50px;
	}

	.nav-logo-desktop {
		display: none;
		max-width: 50px;
 		max-height: 50px;
	}
	#marketing > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
		width: 100%;
		height: auto;
	}
	.col-lg-5 > img:nth-child(1) {
		padding-top: 20%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.icon-mobile {
		display: none;
	}
	.nav-logo-mobile {
		display: none;
		max-width: 50px;
 		max-height: 50px;
	}
	#marketing > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
		padding-top: 15%;
		width: 100%;
		height: auto;
	}
	.col-lg-5 > img:nth-child(1) {
		padding-top: 10%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.hero-content {
		margin-top: 100px;
	}
	#marketing > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
		padding-top: 0px;
		width: 750px;
		height: auto;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.pricing-box h3 {
		font-size: 17px;
	}
	.pricing-box p {
		font-size: 14px;
	}
	.pricing-box li {
		font-size: 12px;
	}
	.btn-buy {
		font-size: 12px;
		padding: 15px 20px;
	}
	.btn-demo {
		font-size: 12px;
		padding: 15px 20px;
	}
	.profile-picture {
		width: 50px;
		height: 50px;
	}
	.testimonial-box h6 {
		font-size: 14px;
		margin-left: 10px;
	}
	.testimonial-box span {
		font-size: 12px;
	}
	.testimonial-box small {
		font-size: 12px;
		margin-top: 4px;
		margin-left: 10px;
	}
	#marketing > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
		padding-top: 40%;
		width: 100%;
		height: auto;
	}

}

ion-icon {
	color: rgb(105, 154, 229);
	font-size: 20px;
    margin-right: 10px;
    margin-top: 4px;
}
.ban {
	color: #808080;
}

.nav-logo-desktop, .nav-logo-mobile {
	max-width: 50px;
	height: auto;
	border-radius: 50%;
}

.pricing-box span {
	color: var(--primtext);
}

.moon {
	padding: 0;
	border: none;
	background: none;
}

span.icon {
	color: var(--hamburger);
}



